
#computer_icon{
    transform: translateX(-100%);
    animation: move_computer_over_content 5s forwards;
  }

  #comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 text{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
  }

  @keyframes move_computer_over_content{
    from{
        transform: translateX(-100%);}

    to{
        transform:translateX(0);
    }

   
}

