
header,main, #paragraph{
    padding: 15%;
    justify-content:space-between;
}

.column, body{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;   
}


#columns{
    display:flex;
}




.square{
    width: 100px;
    height: 100px;
    border:3px solid lightblue;
    border-radius: 25px;
}

