nav{
    /*The width*/
    width:100vw;

    /*The height*/
    height: 5rem;

    /*Make the display css grid*/
    display: grid;

    /*Place the items
     to the center*/
    place-items: center;

    /*Background color*/
    background:var(--color-primary);

    /*The nav is stationary*/
    position: fixed;

    top: 0;
    left: 0;

    z-index:9;

    /*Box shadow*/
    box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);

    transition: var(--transition);
}



.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    /*Define the proportions of the width*/
    width: 2.5rem;
    height: 2.5rem;

    /*Make the image rounded*/
    border-radius: 50%;

    overflow: hidden;
}

.nav__menu{
    display: flex;
    /*Create a gap between everything*/
    gap: 3.5rem;
}

#theme__icon{
    /*Make the background transparent*/
    background:transparent;

    /*White color*/
    color: white;

    font-size: 2rem;

    /*The curson is a pointer*/
    cursor: pointer;
}

/*HIDE NAV MENU ON TABLETS AND PHONES*/
@media screen and (max-width:1024px){
    /*Don't display the nav*/
    .nav__menu{
        display:none;
    }
}